.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 1px;
}
.container div {
  background-color: orange;
  border: 10px solid black;
  padding: 5px;
  font-size: 1px;
  text-align: center;
}